<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {%- if site.avatar != empty and site.avatar -%}
        {%- capture avatar_url -%}
          {% include media-url.html src=site.avatar %}
        {%- endcapture -%}
        <img src="{{- avatar_url -}}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {%- endif -%}
    </a>

    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
    <p class="site-subtitle fst-italic mb-0">{{ site.tagline }}</p>
  </header>
  <!-- .profile-wrapper -->
  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <!-- home -->
      <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
        </a>
      </li>
      <!-- the category -->
      {% for tab in site.tabs %}
        {% if tab.title == 'Categories' %}
          {% assign page_url_split = page.url | split:'/'  %}
          {% assign tab_url_split = tab.url | split:'/' %}
          <li class="sidebar-category nav-item{% if tab_url_split[1] == page_url_split[1] %}{{ " active" }}{% endif %}">
            <a href="{{ tab.url | relative_url }}" class="nav-link">
              <i class="fa-fw {{ tab.icon }}"></i>
              {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

              <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
            </a>
            <!-- 카테고리 목록 시작 -->
            {% include lang.html %}

            {% assign HEAD_PREFIX = 'h_' %}
            {% assign LIST_PREFIX = 'l_' %}

            {% assign group_index = 0 %}
            {% assign sort_categories = site.categories | sort %}
            {% for category in sort_categories %}
              {% assign category_name = category | first %}
              {% assign posts_of_category = category | last %}
              {% assign first_post = posts_of_category | first %}

              {% if category_name == first_post.categories[0] %}
                {% assign sub_categories = '' | split: '' %}

                {% for post in posts_of_category %}
                  {% assign second_category = post.categories[1] %}
                  {% if second_category %}
                    {% unless sub_categories contains second_category %}
                      {% assign sub_categories = sub_categories | push: second_category %}
                    {% endunless %}
                  {% endif %}
                {% endfor %}

                {% assign sub_categories = sub_categories | sort %}
                {% assign sub_categories_size = sub_categories | size %}
                <div class="nav-item" style="margin-top: 0.25rem;">
                  <div class="card categories">
                    <!-- top-category -->
                    <div
                      id="{{ HEAD_PREFIX }}{{ group_index }}"
                      class="card-header d-flex justify-content-between hide-border-bottom"
                    >
                        <span class="ms-2">
                          <i class="far fa-folder{% if sub_categories_size > 0 %}-open{% endif %} fa-fw"></i>

                          {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
                          <a href="{{ _category_url | relative_url }}" class="mx-2">{{ category_name }}</a>

                          <!-- content count -->
                          {% assign top_posts_size = site.categories[category_name] | size %}
                          <span class="text-muted small font-weight-light">
<!--                            {% if sub_categories_size > 0 %}-->
<!--                              {{ sub_categories_size }}-->
<!--                              {% if sub_categories_size > 1 %}-->
<!--                                {{-->
<!--                                  site.data.locales[lang].categories.category_measure.plural-->
<!--                                  | default: site.data.locales[lang].categories.category_measure-->
<!--                                }}-->
<!--                              {% else %}-->
<!--                                {{-->
<!--                                  site.data.locales[lang].categories.category_measure.singular-->
<!--                                  | default: site.data.locales[lang].categories.category_measure-->
<!--                                }}-->
<!--                              {% endif -%}-->
<!--                              ,-->
<!--                            {% endif %}-->

                            ({{ top_posts_size }})

<!--                            {% if top_posts_size > 1 %}-->
<!--                              {{-->
<!--                                site.data.locales[lang].categories.post_measure.plural-->
<!--                                | default: site.data.locales[lang].categories.post_measure-->
<!--                              }}-->
<!--                            {% else %}-->
<!--                              {{-->
<!--                                site.data.locales[lang].categories.post_measure.singular-->
<!--                                | default: site.data.locales[lang].categories.post_measure-->
<!--                              }}-->
<!--                            {% endif %}-->
                          </span>
                        </span>

                      <!-- arrow -->
                      {% if sub_categories_size > 0 %}
                      <a
                        href="#{{ LIST_PREFIX }}{{ group_index }}"
                        data-bs-toggle="collapse"
                        aria-expanded="true"
                        aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
                        class="category-trigger hide-border-bottom"
                      >
                        <i class="fas fa-fw fa-angle-down"></i>
                      </a>
                      {% else %}
                      <span data-bs-toggle="collapse" class="category-trigger hide-border-bottom disabled">
                            <i class="fas fa-fw fa-angle-right"></i>
                          </span>
                      {% endif %}
                    </div>
                    <!-- .card-header -->

                    <!-- Sub-categories -->
                    {% if sub_categories_size > 0 %}
                    <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
                      <ul class="list-group">
                        {% for sub_category in sub_categories %}
                        <li class="list-group-item">
                          <i class="far fa-folder fa-fw"></i>

                          {% capture _sub_ctg_url %}/categories/{{ sub_category | slugify | url_encode }}/{% endcapture %}
                          <a href="{{ _sub_ctg_url | relative_url }}" class="mx-2">{{ sub_category }}</a>

                          {% assign posts_size = site.categories[sub_category] | size %}
                          <span class="text-muted small font-weight-light">
                                  ({{ posts_size }})

<!--                                  {% if posts_size > 1 %}-->
<!--                                    {{-->
<!--                                      site.data.locales[lang].categories.post_measure.plural-->
<!--                                      | default: site.data.locales[lang].categories.post_measure-->
<!--                                    }}-->
<!--                                  {% else %}-->
<!--                                    {{-->
<!--                                      site.data.locales[lang].categories.post_measure.singular-->
<!--                                      | default: site.data.locales[lang].categories.post_measure-->
<!--                                    }}-->
<!--                                  {% endif %}-->
                                </span>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <!-- .card -->

                {% assign group_index = group_index | plus: 1 %}
              {% endif %}
            {% endfor %}
            <!-- 카테고리 목록 끝 -->
          </li>
          <!-- .nav-item -->
        {% endif %}
      {% endfor %}

      <!-- the real tabs -->
      {% for tab in site.tabs %}
        {% if tab.title != 'Categories' %}
          <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
            <a href="{{ tab.url | relative_url }}" class="nav-link">
              <i class="fa-fw {{ tab.icon }}"></i>
              {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

              <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
            </a>
          </li>
          <!-- .nav-item -->
        {% endif %}
      {% endfor %}

    </ul>
  </nav>

  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->
