/*
  Style for Tab Categories
*/

%category-icon-color {
  color: gray;
}

// start - sidebar categories custom css
.sidebar-category .categories {
  margin-bottom: 0 !important;
}

.sidebar-category .categories .card-header {
  padding: 0.2rem 0.75rem !important;
}

.sidebar-category .categories .list-group {
  margin-bottom: 0 !important;
}

.sidebar-category .categories .list-group-item {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.sidebar-category {
  padding: 0.3rem !important;
  margin-left: 1.2rem !important;
  margin-right: 1.2rem !important;
  //border: 1px dashed lightgrey;
  border-radius: 0.75rem;
}

.sidebar-category.active {
  background-color: var(--sidebar-hover-bg);
}

.sidebar-category:hover {
  background-color: var(--sidebar-hover-bg);
}

.sidebar-category .nav-link:hover {
  background-color: unset !important;
}

.sidebar-category.active .nav-link {
  background-color: unset !important;
}

.sidebar-category .card-header:hover {
  background-color: #eeeeee;
}

.sidebar-category .list-group-item:hover {
  background-color: #efefef;
}

// end - sidebar categories custom css

.categories {
  margin-bottom: 2rem;
  border-color: var(--categories-border);

  &.card,
  .list-group {
    @extend %rounded;
  }

  .card-header {
    $radius: calc($base-radius - 1px);

    padding: 0.75rem;
    border-radius: $radius;
    border-bottom: 0;

    &.hide-border-bottom {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  i {
    @extend %category-icon-color;

    font-size: 86%; /* fontawesome icons */
  }

  .list-group-item {
    border-left: none;
    border-right: none;
    padding-left: 2rem;

    &:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
} /* .categories */

.category-trigger {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  text-align: center;
  color: #6c757d !important;

  i {
    position: relative;
    height: 0.7rem;
    width: 1rem;
    transition: transform 300ms ease;
  }

  &:hover {
    i {
      color: var(--categories-icon-hover-color);
    }
  }
}

/* only works on desktop */
@media (hover: hover) {
  .category-trigger:hover {
    background-color: var(--categories-hover-bg);
  }
}

.rotate {
  transform: rotate(-90deg);
}
